/* tagname */
body {
    background-color: #fffff2;
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    margin: 0 0;
    padding: 0 0;
}
* {
  margin: 0;
  padding:0;
}
/* header styling */
header {
    background-color: #e4572e;
    background-size: auto
    text-align: center; 
    margin: 0 0;
    padding: 0 0;
}
header h1 {
    color: black;
    font-family: 'Chelsea Market', cursive;
}
header h2 {
    color: white;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
    text-align: center;
    }
/* classes */
.container {
    width: 50%;
    display: grid;
    background-color:  #fffff2;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
h2 {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}
p {
    width: 50%;
    position: relative;
    
    text-align: left;
    display: inline;
    font-weight: bold;
    }
article {
    border: 4px solid #050401;
    box-sizing: content-box;
    border-collapse: separate;
    border-spacing: 5px;
    box-shadow: 3px 3px 0 0 #e4572e;
    }
img {
    float: right;
    overflow: hidden;
}
/* footer utilities */
footer h3 {
    font-size: 20px;
}
footer .date {
    border: 4px thin #050401;
    box-shadow: 3px 3px 0 0 #e4572e;
}
hr {
    margin-top: 25px;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}